/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.search_input {
  height: 40px;
  width: 30%;
  padding: 0 25px;
  border: none;
}
.search_input:focus-visible {
  border: none !important;
  outline: none !important;
}
.main-container {
  background-color: rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  color: black;
  width: 70vw;
  height: 55vh;
  padding-bottom: 70px;

  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.box-1 {
  background-color: rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;

  color: black;
  width: 15vw;
  height: 200px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.box {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 80px;
  width: 70vw;
}
.box-1 img {
  width: 80px;
}
.weather-logo{
  width: 70%;
}